<div class="user_form_box">
  <form>

    <div class="vertical_form_group" >
      <span>ID: {{user._id}}</span>
      <div class="inline_form_group">
        <label for="name">Name:</label>
        <input type="text" value="{{user.Name}}">
      </div>
      <div class="inline_form_group">
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{user.Email}}">
      </div>
    </div>

    <div class="horizontal_form_group space_between">
        <button>Other Data</button>

        <div class="horizontal_form_group action_buttons">
          <button>Update</button>
          <button>Delete</button>
        </div>
    </div>

  </form>
</div>
